.top{
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  height: 81px;
}

.rectangle{
  width: 235px;
  height: 50px;
  border-radius: 20px;
  background: #DDCAD9;
}

.fancyText{
  font-family: Qwigley;
}

.topHeader{
  color: #7C616C;
}
.notactive{
  text-decoration: none;
}
.main{

  position: absolute;
  width: 1290px;
  height: 660px;
  left: 100px;
}

.main-header{
  font-size: 96px;
  color: #7C616C;
}
input[type=submit]{
  width: 200px;
height: 80px;
background: #DDCAD9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
font-size: 50px;
font-family: Qwigley;
}
