.top{
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  height: 81px;
}

.rectangle{
  width: 250px;
  height: 50px;
  background: #DDCAD9;
}

.fancyText{
  font-family: Qwigley;
}

.topHeader{
  color: #7C616C;
}
.notactive{
  text-decoration: none;
}
.main{

  position: absolute;
  width: 1290px;
  height: 660px;
  left: 100px;
}

.main-header{
  font-size: 96px;
  color: #7C616C;
}
