
.notactive{
  text-decoration: none;
}
.topHeader{
  color: #7C616C;
}
.fancyText{
  font-family: Qwigley;
}
.template-three{
  width: 433px;
  height: 221px;
  background: #ede9cf;
  border-radius: 10px;
  font-family: Imbue;
}

.template-three-back{
  font-size: 30px;
}
