.notactive{
  text-decoration: none;
}
.topHeader{
  color: #7C616C;
}
.fancyText{
  font-family: Qwigley;
}

.template-one{
  width: 433px;
  height: 221px;
  background: #FDF2FC;
  border-radius: 10px;
  font-family: RedRose;
}

#template-one-front{
  font-family: RedRose;
  text-align: center;
  vertical-align: middle;
  line-height: 221px;
}


.template-one-back{
  font-family: RedRose;
  vertical-align: middle;
  line-height: 221px;
}

.divider{
  width: 2px;
  height: 150px;
  background-color: #C4C4C4;
}
