<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="row py-2"> <!-- Template 2 -->
          <div class="col">
            <div class="template-two text-center">
              <div class="pt-5">
                <h1>Full Name</h1>
                <h2>Position/Role</h2>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="template-two">
              <div class="template-two-back">
                <h1>Full Name</h1>
                <h2>Position/Role</h2>
                <div class="template-two-bottom">
                  <h5>Phone Number</h5>
                  <h5>Email</h5>
                  <h5>Website</h5>
                  <h5>Address</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
</body>
</html>