<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div class="row py-2"> <!-- Template 3 -->
          <div class="col">
            <div class="template-three">
              <div class="template-three-front text-center pt-4">
                <h1 style="font-size: 75px;">Full Name</h1>
                <p style="font-size: 25px;">Position/Role</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="template-three">
              <div class="template-three-back text-center pt-3">
                <h5 class="template-three-back">Website</h5>
                <h5 class="template-three-back">Email</h5>
                <h5 class="template-three-back">Phone Number</h5>
                <h5 class="template-three-back">Address</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/8.2.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.2/firebase-auth.js"></script>

</body>
</html>